{{ define "main" }}
	<div class="post-content">
		{{ .Content }}
	</div>


	{{ range .Paginator.Pages }}
	<article class="post-entry">
	  <div class="entry-header">
	    <p class="entry-hint-parent">
	      {{- .Title }}
	    </p>
	  </div>
	  {{- if (ne (.Param "hideSummary") true) }}
	  <div class="entry-content">
	    <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
	  </div>
	  {{- end }}
	  {{- if not (.Param "hideMeta") }}
	  <div class="entry-footer">
	    <p>{{ .Params.sample.kind }}, {{ .Params.sample.src }}</p>
	  </div>
	  {{- end }}
	  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
	</article>
	{{ end }}
{{ end }}
