{{ define "main" }}
	<article>
		{{ .Content }}
		<br/>
		<ul class="postlist">
			{{ range .Pages }}
				<li>
					<div class="sample-entry">
						<a aria-label="link to writing sample {{ .Title | plainify }}" href="{{ .Permalink }}">{{- .Title }}</a>
						<span class="sampleBit">{{ .Params.sample.kind }}, {{ .Params.sample.src }}</span>
					</div>
					<summary>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</summary>
					<br/>
				</li>
			{{ end }}
		</ul>
	</article>
{{ end }}
